@import '../common/typography';
@import '../common/input';

.entrybox {
  width: 100%;
  margin-bottom: 72px;
}

.header {
  @apply --heading;
  text-align: center;
  color: var(--colorWhite);
}

.input {
  @apply --heading;
  @apply --input;
  text-align: center;
  outline: none;
}
